trained_models/GAN_2 filter=lfs diff=lfs merge=lfs -text
trained_models/GAN_3 filter=lfs diff=lfs merge=lfs -text
trained_models/Autoencoder filter=lfs diff=lfs merge=lfs -text
trained_models/GAN_1 filter=lfs diff=lfs merge=lfs -text
